.app.light {
  --bg-color: #b3b8b9;
  --inverted-bg-color: #052c79;
  --primary-color: #031649;
  --secondary-color: #31383d;

  --inverted-primary-color: #62cc62;
  --inverted-secondary-color: #93d393;
}