.AppButton {
  cursor: pointer;
  color: var(--inverted-primary-color);
}

.clear{
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.outline {
  padding: 10px;
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}